
th {
    vertical-align: middle !important;
    text-align : center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
td span.glyphicon {
    color:rgb(90, 90, 90);
}
.dropdown-menu {
    background-color : #375A7F !important;
}
.dropdown-menu>li>a {
    color : white !important;

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color : #28415B;
}
.dropdown-menu .divider {
    background-color : #28415B;

}
.mutedicon path {
    fill : #828282;
}
.tdicon {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left:8px;
    display:inline-block;
    background-repeat : no-repeat !important;    
}
.icon-plane {
    background-image : url("/svg/plane.svg");
    padding-right : 16px;
}
.no-svg .icon-plane {
    background-image : url("/images/plane.png");
}

.icon-ground {
    background-image : url("/svg/truck.svg") ;
    padding-right : 32px;
}
.no-svg .icon-ground {
    background-image : url("/images/truck.png");
}
.icon-axis {
    background-image : url("/svg/axis.svg") ;
     padding : 10px;
}
.no-svg .icon-axis {
    background-image : url("/images/axis.png");
}
.icon-soviet {
    background-image : url("/svg/soviet.svg") ;
    padding : 10px;
}
.no-svg .icon-soviet {
    background-image : url("/images/soviet.png");
}

.icon-total {
    display:block;
}
.xsmall {
    font-size : 70%;
}
input[type="search"] {
    width:200px !important;

}
body {
    color : #c0c0c0 !important;
}
div.DTS_Loading {
    vertical-align : middle !important;
    height: auto !important;
    background-color : rgba(60, 60, 60, 0.7) !important;
    z-index : 10 !important;
}
div.DTS div.dataTables_scroll {
    background : none !important;

}
.dataTables_scrollHead{
    border-bottom : 1px solid #3d3d3d;
}
.dataTables_scroll {
    border-bottom : 1px solid #3d3d3d;
}
.top-buffer { margin-top:40px; }

.table .tdcenter{
    vertical-align: middle !important;
    text-align : center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


div.DTS div.dataTables_scrollHead, div.DTS div.dataTables_scrollFoot {
    background-color : #222222 !important;
}

div.DTS tbody tr.even {
  background-color: #222222 !important;
}
::-webkit-scrollbar-button{
    width:0px;
    height:0px;

}
::-webkit-scrollbar-track
{
    border: 1px solid #3d3d3d;
	background-color: #222222;
}

::-webkit-scrollbar
{
	width: 16px;
    border-width: 1px !important;
	background-color: #222222 !important;
}

::-webkit-scrollbar-thumb
{
    border: 1px solid #222222;
    background-color: rgb(60,60,60);
    /*min-height:45px;*/
}

.missionlost {
    color : #AB0000;    
}
.missionwon {
    color : green;
    font-weight : bold;
}
.missiondraw {
    color : yellow;
}

.dataTables_scrollHeadInner{
    padding-left : 0px !important;

}

.serverlist{
    max-height: 400px;
    overflow-y : auto;
}

.axisbg { 
    background-color: rgb(19, 90, 111);
}

.sovietbg { 
    background-color: rgb(118, 80, 87);
}

#playerlist td, th{
    vertical-align: middle !important;
    text-align : left !important;
    padding-left: 10px !important;
}